* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: arial;
  background-image: url(background.jpg) ; 
}

#main-container {
  display: block;
  width: 90%;
  max-width: 800px;
  border-radius: 10px;
  padding: 20px; 
  margin-top: 30px;
  background-color: white;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  
  -moz-box-shadow:  3px 3px 5px 6px #ccc; 
  box-shadow: 3px 3px 5px 6px #ccc; 
}

.form {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(80px, 300px) minmax(120px, 160px);
  padding: 20px 10px ;
  border-radius: 10px;
}

.form__input {
  align-self: center;
  padding-left: 5px;
  font-size: 16px;
  height: 80%;
}

.button {
  padding: 10px 30px;
  cursor: pointer;
  text-transform: uppercase;
  background-color:#1dad13 ;
  margin: 0 10px;
  border:none;
  border-radius: 5px;
  transition: .4s;
  font-weight: bold;
  color: white;
  outline: none;
}

.button:hover {
  background-color: #f50202;
}

.info-container {
  font-size: 24px;
  text-align: center;
  color: red;
  font-weight: bold;
}

.info {
  margin: 20px 0;
}

.users {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.users__acapit {
  margin: 5px;
  padding: 5px;
  text-transform: capitalize;
  border: 1px solid#f50202;
  border-radius: 5px;
  color: #1dad13;
}


.results {
  margin-top: 20px;
  border-top: 2px dotted;
  min-height: 10px;
  padding-top: 20px;

}

.results__acapit{
  display: grid;
  grid-template-columns:  100px 40px 40px 1fr;
  text-transform: capitalize;
  font-weight: bold;
}

img {
  height: 20px;
}

p {
  margin: 10px 0;
}
